@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
  
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
/* variable */
:root{
    --main-color:#2c6b8f;
    --second-color:#edeae3;
    --text-color:#0a0a0a;
    --bg-color:#000000;

    /* box-shadow */
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}
*::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track{
  background-color: transparent;
}

*::-webkit-scrollbar-thumb{
  background-color: var(--blue);
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}
section{
  padding: 50px 100px;
}
img{
  height: fit-content;
  width: fit-content;
}
body{
    color: var(--text-color); 
  }
header{
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;
  transition: 0.5s linear;
  background: #196377;
}
.logo img {
  width: 100%;
} 
.navbar {
  display: flex;
}
.navbar a{
  padding: 8px 17px;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover{
  background: #5697b1;
  border-radius: 0.2rem;
  transition: 0.2s all linear;
}
.header-icon{
  font-size: 22px;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  column-gap: 0.8rem;
}
.header-icon .bx{
  color: #ffffff;
}
.header-icon .bx:hover{
  color: #ffffff;
}
#menu-icon{
  color: var(--bg-color);
  font-size: 24px;
  z-index: 100001;
  cursor: pointer;
  display: none;
}
.search-box {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  background: var(--bg-color);
  width: 100%;
}
.search-box.active {
  top: 110%;
  box-shadow: var(--box-shadow);
  transition: 0.2s all linear;
}
.search-box input {
  padding: 20px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: var(--main-color);
}
.search-box input::placeholder{
  font-size: 1rem;
  font-weight: 500;
}
.home{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/backgroud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 2rem;
}
.home-text h1{
  font-size: 3.5rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0;
}
.home-text a{
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}
.btn{
  padding: 10px 40px;
  border-radius: 0.3rem;
  background-color: #152f3f;
  background-position: var(--main-color);
  color: #ffffff;
  font-weight: 500;
}
.btn:hover{
  background: #2c6b8f;
}
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
  align-items: center;
  gap: 1.5rem;
}
.about-img img {
  width: 85%;
  border-radius: 0.5rem;
}
.about-text h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.about-text p {
  font-size: 0.938rem;
  margin: 0.5rem 0 1.1rem;
}

.container {
 width: 60%;
 height: 65%;
 border-radius: 0.5rem;
 background-color: #bcd2e0;
 margin-right: auto;
 margin-left: auto;
 display: flex;
}
.form .heading{
  display: flex;
}
.form form{
  border-radius: 0.5rem;
  background-color: #bcd2e0;
  padding: 20px;
  margin:0 auto;
  max-width: 50rem;
}

.form .box{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: .5rem;
  background-color: var(--white);
  padding:12px 12px;
  font-size: 14px;
  color:var(--black);
  text-transform: none;
}
.form span{
  font-size: 14px;
  color:#000000;
}
.form .submit {
  padding: 8px 12px;
  border-radius: 0.3rem;
  background-color: #152f3f;
  background-position: #152f3f;
  color: #ffffff;
  font-weight: 50px;
}
.form .submit:hover{
  border-color: #6c97af;
  background: #6c97af;
}

